<div class="nested-fields">
  <div class="field">
    <div>
    <%= f.label :degree_name %>
    <%= f.text_field :degree_name, class: "form-control my-2" %>
    </div>
    <div>
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control my-2" %>
    </div>
    <%= link_to_remove_association "Remove fields", f, class: "btn btn-warning my-3" %>
  </div>
</div>
