<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<%= paginate @friends %>


<%= form_tag(friends_path, method: :get) do %>
  <%= text_field_tag :search, @search_term, placeholder: "Search ..." %>
  <%= submit_tag "Search" %>
<% end %>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
  <% end %>
</div>
<%# <%= link_to "New friend", new_friend_path %>
