<h1>Home</h1>
<p style="color: green"><%= notice %></p>
<div class="row mt-3">
  <div id="friends">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <%if user_signed_in?%>
          <th>Action</th>
          <%end%>
        </tr>
      </thead>
      <% @friends.each do |friend| %>
        <tbody>
          <tr>
          <td><%= friend.user_id%></td>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.email %></td>
            <td><%= friend.address %></td>
            <% if user_signed_in?%>
            <td><%= link_to "Show Details", friend, class: "btn btn-outline-light" %></td>
            <%end%>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
<%# <div data-controller="hello" ></div> %>